:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --primary-blue: #003366;
  --secondary-blue: #0055A5;
  --light-blue: #66B2FF;
  --light-green: #99C21C;
  --dark-green: #35964C;
  --text-color-light: #19191919;
  --text-color-dark: #e9e9e9;
  --background-light: #FFFFFF;
  --background-dark: #111111;
  --background: var(--background-light); /* Default to light mode */
}

/*.light-mode {
  --background: var(--background-light);
  --text-color: var(var(--text-color-light))
}

.dark-mode {
  --background: var(--background-dark);
  --text-color: var(var(var(--text-color-dark)))
}*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

/* Define the color scheme that the site supports */
html {
  color-scheme: light dark;
}